Laboratorio 4 \\
Optimización \\
Valentina Matilde Hernández Pinilla 201922440 \\
Camilo Andrés González Torres 201921623 \\

In [1]:
# Paquetes importados
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import linprog
from scipy.optimize import minimize
import itertools
import pandas as pd
from IPython.display import display
import time

# Punto #1

# Punto #1.a

In [2]:
#Función de reducción de Gauss para hallar las bases.
def reduccion_Gauss(B, b):
    n = len(b)
    x = np.zeros(n, float)
    for k in range(n-1):
        if np.fabs (B[k,k]) < 1.0e-12:
            for i in range(k+1, n):
                if np.fabs(B[i,k]) > np.fabs(B[k,k]):
                    B[[k,i]] = B[[i,k]]
                    b[[k,i]] = b[[i,k]]
                    break
        for i in range(k+1,n):
            if B[i,k] == 0:continue
            factor = B[k,k]/B[i,k]
            for j in range(k,n):
                B[i,j] = B[k,j] - B[i,j]*factor
            b[i] = b[k] - b[i]*factor
    x[n-1] = b[n-1] / B[n-1, n-1]
    for i in range(n-2, -1, -1):
        sum_ax = 0
        for j in range(i+1, n):
            sum_ax += B[i,j] * x[j]
        x[i] = (b[i] - sum_ax) / B[i,i]
    return B, x

In [3]:
# Función de soluciones básicas con su base correspondiente.
def soluciones_basicas(A, b, solver='gauss'):
    vars = list(range(A.shape[1]))
    perm = list(itertools.combinations(vars, A.shape[0]))
    soluciones = {}
    soluciones['Solucion'] = []
    soluciones['Base'] = []
    soluciones['Variables básicas'] = []
    for case in perm:
        if np.linalg.det(A[:,case]) != 0:
            if solver == 'gauss':
                base, solucion = reduccion_Gauss(A[:, case], b) 
                soluciones['Base'].append(base)
            else:
                solucion = np.linalg.solve(A[:, case], b)
                soluciones['Base'].append(A[:, case])
            soluciones['Solucion'].append(solucion)
            soluciones['Variables básicas'].append(case)
        else:
            print("Matriz singular")
    return soluciones

# Punto #1.c

In [4]:
# Conversión del diccionario que retorna la funcón anterior en una tabla de datos
def show_df(df):
    pd.set_option('max_colwidth', 75)
    df_sol = pd.DataFrame(df)
    display(df_sol)

# Punto #1.b

In [5]:
# Comprobación de la función para la matriz A1.
A1 = np.array([[1,1,1,1,1],[1,2,3,4,5],[4,3,3,3,4]], float)
b = np.array([1,2,3], float)

soluciones= soluciones_basicas(A1,b)
show_df(soluciones)

Matriz singular

,Solucion,Base,Variables básicas
0,"[0.0, 1.0, -0.0]","[[1.0, 1.0, 1.0], [0.0, -1.0, -2.0], [0.0, 0.0, -1.0]]","(0, 1, 2)"
1,"[-3.0, 7.0, -3.0]","[[1.0, 1.0, 1.0], [0.0, -1.0, -3.0], [0.0, 0.0, -2.0]]","(0, 1, 3)"
2,"[2.25, -2.0, 0.75]","[[1.0, 1.0, 1.0], [0.0, -1.0, -4.0], [0.0, 0.0, -4.0]]","(0, 1, 4)"
3,"[-6.0, 23.0, -16.0]","[[1.0, 1.0, 1.0], [0.0, -2.0, -3.0], [0.0, 0.0, -1.0]]","(0, 2, 3)"
4,"[6.75, -12.0, 6.25]","[[1.0, 1.0, 1.0], [0.0, -2.0, -4.0], [0.0, 0.0, -4.0]]","(0, 2, 4)"
5,"[-5.75, 29.0, -22.25]","[[1.0, 1.0, 1.0], [0.0, -3.0, -4.0], [0.0, 0.0, -4.0]]","(0, 3, 4)"
6,"[173.00000000000006, -258.00000000000006, 86.00000000000001]","[[1.0, 1.0, 1.0], [0.0, -0.5, -1.5], [0.0, 0.0, -0.33333333333333326]]","(1, 2, 4)"
7,"[-13.833333333333332, 46.5, -31.666666666666668]","[[1.0, 1.0, 1.0], [0.0, -1.0, -1.5], [0.0, 0.0, -0.33333333333333326]]","(1, 3, 4)"
8,"[10.555555555555557, -17.11111111111111, 7.5555555555555545]","[[1.0, 1.0, 1.0], [0.0, -0.33333333333333326, -0.6666666666666665], [0....","(2, 3, 4)"

In [6]:
# Comprobación de la función para la matriz A2.
A2 = np.array([[1,1,1,1,1], [1,2,3,4,5],[2,3,4,5,6]], float)
b = np.array([1,2,3], float)

soluciones= soluciones_basicas(A2,b)
show_df(soluciones)

Matriz singular
Matriz singular
Matriz singular
Matriz singular
Matriz singular
Matriz singular
Matriz singular
Matriz singular

,Solucion,Base,Variables básicas
0,"[1.0, -0.0, 0.0]","[[1.0, 1.0, 1.0], [0.0, -0.5, -1.5], [0.0, 0.0, 4.440892098500626e-16]]","(1, 2, 4)"
1,"[-562949953421310.5, 1688849860263936.5, -1125899906842625.0]","[[1.0, 1.0, 1.0], [0.0, -1.0, -1.5], [0.0, 0.0, 4.440892098500626e-16]]","(1, 3, 4)"

In [7]:
# Ejemplo de la observación importante.
A3 = np.array([[1,1,1,3], [1,2,3,4],[2,3,4,5]], float)
b = np.array([1,2,3], float)

soluciones= soluciones_basicas(A3,b)
show_df(soluciones)

Matriz singular

,Solucion,Base,Variables básicas
0,"[0.0, 1.0, -0.0]","[[1.0, 1.0, 3.0], [0.0, -1.0, -1.0], [0.0, 0.0, -2.0]]","(0, 1, 3)"
1,"[2.0, -1.0, -0.0]","[[1.0, 1.0, 3.0], [0.0, -2.0, -1.0], [0.0, 0.0, -2.0]]","(0, 2, 3)"
2,"[-6.499999999999996, 2.9999999999999982, 1.4999999999999991]","[[1.0, 1.0, 3.0], [0.0, -0.5, 1.0], [0.0, 0.0, -1.0000000000000009]]","(1, 2, 3)"

# Punto #2

# Punto #2.a

%%latex


2.a.1
Las variables son :
 $X_1.X_2.X_3$. \
En donde:\
$X_1$= tonelada de carbón.\
$X_2$= tonelada de petróleo.\
$X_3$= tonelada de gas.

2.a.2 
La función de costo se plantea de la siguiente manera: \
$f(x)= max 600x_1+550x_2+500x_3$.\
Esta función relaciona los combustibles de cada clase con la cantidad de energía que estos generan, y es una maximización de la combinación lineal de las variables con sus costos. 

2.a.3 Las restricciones del problema de programación lineal son:\

$20x_1+18x_2+15x_3 \leq 60$ $\rightarrow$ Emisiones diarias de bióxido de azufre.

$15x_1+12x_2+10x_3 \leq 75$ $\rightarrow$ Partículas suspendidas.

$200x_1+220x_2+250x_3 \leq 2000$ $\rightarrow$ Costo de la generación de combustible.

$x_1,x_2,x_3\geq0$

2.a.4.\
 El problema de programación lineal en forma estándar es:

$min -600x_1-550x_2-500x_3$ \
$s.a$\
$20x_1+18x_2+15x_3+S_1 = 60$ \

$15x_1+12x_2+10x_3 +S_2 = 75$ \

$200x_1+220x_2+250x_3 +S_3 = 2000$ \

$x_1,x_2,x_3,S_1,S_2,S_3\geq 0$

El problema de programación lineal sin variables de holgura es:

$ max 600x_1+550x_2+500x_3$ \
$s.a$

$20x_1+18x_2+15x_3 \leq 60$

$15x_1+12x_2+10x_3 \leq 75$ 

$200x_1+220x_2+250x_3 \leq 2000$ 

$x_1,x_2,x_3\geq0$

# Punto #2.b

In [8]:
# Punto 2.b.1 , 2.b.2 y 2.b.3
# Función para encontrar todas las soluciones básicas usando la función del punto 1 
# ,verificar la factibilidad de las soluciones básicas encontradas
# y evaluar la funci+on de costo con cada una de las posibles 
# soluciones básicas factibles.
def soluciones_factibles(A, b):
    soluciones = soluciones_basicas(A,b, solver='linalg')
    soluciones['Tipo de solucion'] = []
    soluciones['Valor'] = []
    for i in range(len(soluciones['Solucion'])):
        solucion = soluciones['Solucion'][i]
        base = soluciones['Base'][i]
        case = soluciones['Variables básicas'][i]
        solucion_factible = True
        valor = 0
        for num in solucion:
            if num < 0:
                solucion_factible = False
        if solucion_factible:
            soluciones['Tipo de solucion'].append('Solución factible')
        else:
            soluciones['Tipo de solucion'].append('Solución no factible')
        solucion_completa = np.zeros((1,A.shape[1]))[0]
        for k in range(len(case)):
            solucion_completa[case[k]] = solucion[k]
        valor = -600*solucion_completa[0]-550*solucion_completa[1]-500*solucion_completa[2]
        soluciones['Valor'].append(valor)
    return soluciones

In [9]:
# Punto 2.b.4
# Tabla de resultados
A = np.array([[200, 220, 250, 1, 0, 0],[20, 18, 15, 0, 1, 0],[15, 12, 10, 0, 0, 1]], float)
b = np.array([2000, 60, 75], float)

# Punto #2.c

In [10]:
# Punto 2.c.1
start=time.time() # Tiempo inicial
soluciones = soluciones_factibles(A,b)
end=time.time() # Tiempo final
print('Time spend:' +str(end-start)) #Tiempo de ejecución de la función.
show_df(soluciones)

Time spend:0.0013813972473144531

,Solucion,Base,Variables básicas,Tipo de solucion,Valor
0,"[21.00000000000001, -47.50000000000003, 33.000000000000014]","[[200.0, 220.0, 250.0], [20.0, 18.0, 15.0], [15.0, 12.0, 10.0]]","(0, 1, 2)",Solución no factible,-2.975000e+03
1,"[21.0, -20.0, 2200.0]","[[200.0, 220.0, 1.0], [20.0, 18.0, 0.0], [15.0, 12.0, 0.0]]","(0, 1, 3)",Solución no factible,-1.600000e+03
2,"[-8.333333333333336, 16.666666666666668, -73.33333333333334]","[[200.0, 220.0, 0.0], [20.0, 18.0, 1.0], [15.0, 12.0, 0.0]]","(0, 1, 4)",Solución no factible,-4.166667e+03
3,"[-28.5, 35.0, 82.50000000000001]","[[200.0, 220.0, 0.0], [20.0, 18.0, 0.0], [15.0, 12.0, 1.0]]","(0, 1, 5)",Solución no factible,-2.150000e+03
4,"[20.999999999999982, -23.99999999999997, 3799.999999999997]","[[200.0, 250.0, 1.0], [20.0, 15.0, 0.0], [15.0, 10.0, 0.0]]","(0, 2, 3)",Solución no factible,-6.000000e+02
5,"[-0.7142857142857156, 8.571428571428573, -54.285714285714285]","[[200.0, 250.0, 0.0], [20.0, 15.0, 1.0], [15.0, 10.0, 0.0]]","(0, 2, 4)",Solución no factible,-3.857143e+03
6,"[-7.5, 14.0, 47.5]","[[200.0, 250.0, 0.0], [20.0, 15.0, 0.0], [15.0, 10.0, 1.0]]","(0, 2, 5)",Solución no factible,-2.500000e+03
7,"[5.0, 1000.0, -40.0]","[[200.0, 1.0, 0.0], [20.0, 0.0, 1.0], [15.0, 0.0, 0.0]]","(0, 3, 4)",Solución no factible,-3.000000e+03
8,"[3.0, 1400.0, 30.0]","[[200.0, 1.0, 0.0], [20.0, 0.0, 0.0], [15.0, 0.0, 1.0]]","(0, 3, 5)",Solución factible,-1.800000e+03
9,"[10.0, -140.0, -75.0]","[[200.0, 0.0, 0.0], [20.0, 1.0, 0.0], [15.0, 0.0, 1.0]]","(0, 4, 5)",Solución no factible,-6.000000e+03
10,"[-6.305039478318694e+16, 7.566047373982434e+16, -5.044031582654953e+18]","[[220.0, 250.0, 1.0], [18.0, 15.0, 0.0], [12.0, 10.0, 0.0]]","(1, 2, 3)",Solución no factible,-3.152520e+18
11,"[-1.562500000000002, 9.375000000000002, -52.49999999999999]","[[220.0, 250.0, 0.0], [18.0, 15.0, 1.0], [12.0, 10.0, 0.0]]","(1, 2, 4)",Solución no factible,-3.828125e+03
12,"[-12.500000000000004, 19.000000000000004, 34.999999999999986]","[[220.0, 250.0, 0.0], [18.0, 15.0, 0.0], [12.0, 10.0, 1.0]]","(1, 2, 5)",Solución no factible,-2.625000e+03
13,"[6.25, 624.9999999999999, -52.5]","[[220.0, 1.0, 0.0], [18.0, 0.0, 1.0], [12.0, 0.0, 0.0]]","(1, 3, 4)",Solución no factible,-3.437500e+03
14,"[3.333333333333334, 1266.6666666666665, 35.0]","[[220.0, 1.0, 0.0], [18.0, 0.0, 0.0], [12.0, 0.0, 1.0]]","(1, 3, 5)",Solución factible,-1.833333e+03
15,"[9.090909090909092, -103.63636363636363, -34.09090909090908]","[[220.0, 0.0, 0.0], [18.0, 1.0, 0.0], [12.0, 0.0, 1.0]]","(1, 4, 5)",Solución no factible,-5.000000e+03
16,"[7.5, 124.99999999999989, -52.50000000000001]","[[250.0, 1.0, 0.0], [15.0, 0.0, 1.0], [10.0, 0.0, 0.0]]","(2, 3, 4)",Solución no factible,-3.750000e+03
17,"[4.0, 1000.0, 35.00000000000001]","[[250.0, 1.0, 0.0], [15.0, 0.0, 0.0], [10.0, 0.0, 1.0]]","(2, 3, 5)",Solución factible,-2.000000e+03
18,"[8.0, -60.0, -5.0]","[[250.0, 0.0, 0.0], [15.0, 1.0, 0.0], [10.0, 0.0, 1.0]]","(2, 4, 5)",Solución no factible,-4.000000e+03
19,"[2000.0, 60.0, 75.0]","[[1.0, 0.0, 0.0], [0.0, 1.0, 0.0], [0.0, 0.0, 1.0]]","(3, 4, 5)",Solución factible,-0.000000e+00

In [11]:
# Punto 2.c.2
#Matriz A de las restricciones.
A = np.array([[20,18,15],[15,12,10],[200,220,250]])

#Matriz B de las igualdades de esas restricciones.
b = np.array([60,75,2000])

#Matriz C de las constantes de la función objetivo.
c = -np.array([600,550,500])

#Función linprog en donde se utiliza el método revised simplex y se muestra el reporte de optimización en consola.
print('Método: revised simplex')
start=time.time() # Tiempo inicial
res = linprog(c, A_ub=A, b_ub=b,method='revised simplex',options={"disp": True})
end=time.time() # Tiempo final

print('Optimal value:', round(res.fun, ndigits=2),
      '\nx values:', res.x,
      '\nNumber of iterations performed:', res.nit,
      '\nStatus:', res.message)

print("\nLas toneladas de carbón necesarias son: " + str(round(res.x[0])))

print("Las toneladas de petróleo necesarias son: " + str(round(res.x[1])))

print("Las toneladas de gas necesarias son: " + str(round(res.x[2])))

print("\nEl valor de la función objetivo es: " + str(round(-res.fun)))

print('\nTime spend:'+ str(end-start)) #Tiempo de ejecución de la función.


#Función linprog en donde se utiliza el método simplex y se muestra el reporte de optimización en consola.
print('\nMétodo: simplex')
start=time.time() # Tiempo inicial
res = linprog(c, A_ub=A, b_ub=b,method='simplex',options={"disp": True})
end=time.time() # Tiempo final

print('Optimal value:', round(res.fun, ndigits=2),
      '\nx values:', res.x,
      '\nNumber of iterations performed:', res.nit,
      '\nStatus:', res.message)

print("\nLas toneladas de carbón necesarias son: " + str(round(res.x[0])))

print("Las toneladas de petróleo necesarias son: " + str(round(res.x[1])))

print("Las toneladas de gas necesarias son: " + str(round(res.x[2])))

print("\nEl valor de la función objetivo es: " + str(round(-res.fun)))

print('\nTime spend:'+ str(end-start)) #Tiempo de ejecución de la función.

#Función linprog en donde se utiliza el método interior-point y se muestra el reporte de optimización en consola.
print('\nMétodo: interior-point')
start=time.time() # Tiempo inicial
res = linprog(c, A_ub=A, b_ub=b,method='interior-point',options={"disp": True})
end=time.time() # Tiempo final

print('Optimal value:', round(res.fun, ndigits=2),
      '\nx values:', res.x,
      '\nNumber of iterations performed:', res.nit,
      '\nStatus:', res.message)

print("\nLas toneladas de carbón necesarias son: " + str(res.x[0]))

print("Las toneladas de petróleo necesarias son: " + str(res.x[1]))

print("Las toneladas de gas necesarias son: " + str(res.x[2]))

print("\nEl valor de la función objetivo es: " + str(round(-res.fun)))

print('\nTime spend:'+ str(end-start)) #Tiempo de ejecución de la función.

Método: revised simplex
Phase Iteration Minimum Slack       Constraint Residual Objective
1     0         60.0                0.0                 0.0
Phase Iteration Minimum Slack       Constraint Residual Objective
2     0         60.0                0.0                 0.0
2     1         0.0                 0.0                 -1800.0
2     2         0.0                 0.0                 -2000.0
Optimization terminated successfully.
         Current function value: -2000.000000
         Iterations: 2
Optimal value: -2000.0
x values: [0. 0. 4.]
Number of iterations performed: 2
Status: Optimization terminated successfully.

Las toneladas de carbón necesarias son: 0
Las toneladas de petróleo necesarias son: 0
Las toneladas de gas necesarias son: 4

El valor de la función objetivo es: 2000

Time spend:0.011270999908447266

Método: simplex
Optimization terminated successfully.
         Current function value: -2000.000000
         Iterations: 3
Optimal value: -2000.0
x values: [0. 0. 4.]
Number of iterations performed: 3
Status: Optimization terminated successfully.

Las toneladas de carbón necesarias son: 0
Las toneladas de petróleo necesarias son: 0
Las toneladas de gas necesarias son: 4

El valor de la función objetivo es: 2000

Time spend:0.003679990768432617

Método: interior-point
Primal Feasibility  Dual Feasibility    Duality Gap         Step             Path Parameter      Objective
1.0                 1.0                 1.0                 -                1.0                 -1650.0
0.1654290978317     0.1654290978316     0.1654290978316     0.8371905019417  0.1654290978321     -1713.34087713
0.01254765278397    0.01254765278396    0.01254765278396    0.9449503014972  0.012547652784      -1122.691413638
0.005808161393177   0.005808161393174   0.005808161393174   0.5677940404086  0.005808161393192   -1461.533586848
0.003615256675026   0.003615256675024   0.003615256675024   0.3854444492147  0.003615256675036   -1573.978943145
0.001268680845947   0.001268680845967   0.001268680845967   0.7039191590472  0.001268680846006   -1905.6076572
1.462104790176e-05  1.462104790199e-05  1.462104790199e-05  0.9891424271159  1.462104790244e-05  -1998.197373053
7.393154833969e-10  7.39315763143e-10   7.393157609596e-10  0.9999494855139  7.393169541648e-10  -1999.999908629
3.390213727082e-14  3.679950442007e-14  3.680150315611e-14  0.9999502247742  3.696584218111e-14  -1999.999999995
Optimization terminated successfully.
         Current function value: -2000.000000
         Iterations: 8
Optimal value: -2000.0
x values: [2.99286723e-11 8.88531678e-13 4.00000000e+00]
Number of iterations performed: 8
Status: Optimization terminated successfully.

Las toneladas de carbón necesarias son: 2.9928672309460044e-11
Las toneladas de petróleo necesarias son: 8.885316783045176e-13
Las toneladas de gas necesarias son: 3.99999999995405

El valor de la función objetivo es: 2000

Time spend:0.02088308334350586

Punto 2.c.3

Las distintas soluciones inmediatamente anteriores del problema significan que no se necesita comprar combustible de carbón ni de petróleo para maximizar la cantidad de energía generada.
\
Por otro lado, algunas de las soluciones iniciales se convierten en no factibles y son descartadas ya que no se puede comprar toneladas negativas de un combustible, que es la principal razón por la que se descartaron algunas soluciones iniciales.